h1{
    text-align: center;
    color:purple;
}

.header{
    display:flex;
    background-color: bisque;
    border:2px solid black;
    padding:5px;
}

.content{
    background-color: bisque;
    border:2px solid black;
    padding:5px;
}

.hobbies{
    display:grid;
    grid-template-columns: auto auto;
    list-style: none;
}

li{
    border: 1px solid black;
    background-color: lightcoral;
    margin:2px;
}

.goals{
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;
}

.website{
    background-color: bisque;
    border: 2px solid black;
    padding:5px;
}

.footer{
    background-color: bisque;
    border: 2px solid black;
    padding:5px;
}

@media(max-width:400px){
    .header{
        flex-direction: column;
    }

    .hobbies{
        grid-template-columns: auto;
    }

    .goals{
        grid-template-columns: auto;
    }
}